.app{
    height: 120vh;
    background-image: url("./assets/back.png");
    background-size: cover;
    background-position: center;
}
/* Customize scrollbar for WebKit browsers like Chrome, Safari */
::-webkit-scrollbar {
    width: 5px;  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;  /* Background of the scrollbar track */
    border: none;
}

::-webkit-scrollbar-thumb {
    background: #888;  /* Color of the scrollbar thumb */
    border-radius: 10px;  /* Round edges for the scrollbar thumb */
    border: none;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;  /* Darker color on hover */
}

/* Customize scrollbar for Firefox */
* {
    scrollbar-width: thin;  /* Width of the scrollbar */
    scrollbar-color: #e085c5 #f1f1f1;  /* Color of the thumb and track */
    border: none;
}
